RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{HTTP_HOST} ^localhost/cursoPhp/webservice/devstragram/curso-webservice$ [NC,OR] RewriteCond %{HTTP_HOST} ^localhost/cursoPhp/webservice/devstagram/curso-webservice$
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) public/$1 [L]
